*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.cards img{
    width: 200px;
    height: 200px;
}

.cards p{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.cards{
    border: 2px solid #000; 
    width: 300px;          
    padding: 16px;          
    box-sizing: border-box;
    border-radius: 10px;
}

.price{
    color: red;
}